# Virtual Environments
.venv/
venv/
__pycache__/
*.pyc

# Environment Variables and Secrets
.env
.env.*
!.env.example

# Large Data Files
dataset/*.csv
dataset/*.json

# Logs and Checkpoints
airflow/logs/*
spark_jobs/checkpoints/*


# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE and Editors
.vscode/
.idea/
*.swp
*.swo

# Python distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# System files
.DS_Store
Thumbs.db
desktop.ini

# Spark local derby databases
metastore_db/
derby.log
