# Virtual Environments
.venv/
venv/
__pycache__/
*.pyc

# Environment Variables and Secrets
.env
.env.*
!.env.example

# Large Data Files (Do not push to Git)
dataset/*.csv
dataset/*.json

# Logs and Checkpoints
airflow/logs/*
spark_jobs/checkpoints/*

# System Files
.DS_Store
Thumbs.db

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE and Editors
.vscode/
.idea/
*.swp
